<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/cornell.css">
</head>
<body>
<article>
    <header>
        <div class="leftheader">Cues</div>
        <div class="rightheader">Date: {{ date }}. Topic: {{ topic }}.</div>
    </header>
    {% for s, section in enumerate(sections) %}
        {% for i, part in enumerate(section.parts) %}
        <div class="leftmargin">Note</div>
        <div class="main">
            <p>{{part.lm}}</p>
            <button class="collapsible">Show More Details</button>
            <div class="content">{{part.main}}</div>
        </div>
        {% endfor %}
        <footer>Summary: {{section.summary}}</footer>
    {% endfor %}
</article>
<script>
// Simple JS to toggle each collapsible
document.addEventListener('DOMContentLoaded', function () {
    const collapsibles = document.querySelectorAll('.collapsible');
    collapsibles.forEach((collapsible) => {
        collapsible.addEventListener('click', function () {
            this.classList.toggle('active');
            const content = this.nextElementSibling;
            if (content.style.display === 'block') {
                content.style.display = 'none';
            } else {
                content.style.display = 'block';
            }
        });
    });
});
</script>
</body>
</html>