<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<article>
    <header>
        <div class="leftheader">Cues</div>
        <div class="rightheader">Date: {{ date }}. Topic: {{ topic }}.</div>
    </header>
    {% for s, section in enumerate(sections) %}
    <section>
        {% for i, part in enumerate(section.parts) %}
        <div class="leftmargin" id="leftmargin{{i}}">{{part.lm}}</div><div class="main" id="main{{i}}">{{part.main}}</div>
        {% endfor %}
        <footer>Summary: {{section.summary}}</footer>
    </section>
    {% endfor %}

    <!-- Paper holes added with JavaScript -->
    <div class="paper-hole" style="left: 10px; top: 100px;"></div>
    <div class="paper-hole" style="left: 10px; top: 300px;"></div>
    <div class="paper-hole" style="left: 10px; top: 500px;"></div>
</article>

<script src="static/js/cornell-paper-holes.js"></script>
</body>
</html>