<!DOCTYPE html>
<html>
<head>
    <title>Interactive Learning Companion</title>
    <link crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"></link>

    <!-- Github markdown styles (light/dark) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@5/github-markdown.min.css" />

    <!-- Highlightjs Github theme (light) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@highlightjs/cdn-assets@11/styles/github.min.css" />

    <!-- Highlightjs Github theme (prefers dark) -->
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdn.jsdelivr.net/npm/@highlightjs/cdn-assets@11/styles/github-dark.min.css" />

    <!-- KaTeX styles (needed for math) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0/dist/katex.min.css" />

    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>

    <script>
        console.log("URL", "{{ url_for('sse.stream') }}?channel={{ thread_id }}");
        var source = new EventSource("{{ url_for('sse.stream') }}?channel={{ thread_id }}");

        var md_text = "";

        source.addEventListener('assistant_response', function(event) {
            const responseDiv = document.getElementById('response');

            var data = JSON.parse(event.data);

            if (data?.type === 'message_delta') {
                var text = data.message;
            }
            else if (data?.type === 'step_delta') {
                /////var text = data?.message?.data?.delta?.content[0]?.text?.value;
                var text = data.message;
            }
            else if (data?.type === 'completed_message') {
                var text = data.message;
            }
            else {
                var text = undefined;
            }
            if (text === undefined) {
                text = 'undefined ';
            }
            md_text += text;
            responseDiv.innerHTML = md_text;
        }, false);

        source.addEventListener('error', function(event) {
            console.error("EventSource failed:", event);
        }, false);
    </script>
</head>
<body>
    <h1>Interactive Learning Companion</h1>
    <p><strong>You asked:</strong> {{ question }}</p>
    <p><strong>Assistant's response:</strong></p>

    <article>
        <zero-md>
            <script type="text/markdown" id="response"></script>
        </zero-md>
    </article>
    <a href="/">Ask another question</a>
</body>
</html>
